<h1>Users</h1>
<div class="d-flex">
    <a class="btn btn-primary" href="/users/create">Create</a>
    <form action="/users/search" method="GET" class="ml-auto">
        <input type="text" name="q" id="keyword">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Avatar</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td scope="row">{{this.name}}</td>
            <td scope="row"><img src="..\\{{this.avatar}}" alt="" width="100px"></td>
            <td>{{this.phone}}</td>
            <td>
                <a class="btn btn-light" href="/users/{{this.id}}">Detail</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>